.container-fluid
  h1
    a.back(href="#")
      i.fa.fa-chevron-left
      = ' Games'

.container-fluid
  div.list-group.col-md-6
    each game in games
      a(href="#" class="list-group-item #{game.selected ? 'active' : ''}", data-model=_attachModel(game))= game.title

  .col-md-6.well.text-center
    - var selected = games.filter(function(game) { return game.selected; })[0];

    img(height="30%", style="min-height: 30%; max-height: 30%;", src="#{selected.thumbnail}")

    h3= selected.title
    h6: em= selected.year

    p= selected.description
